<!DOCTYPE html>
<html>

<head>
    <title>验证码</title>
</head>
<body>
<table>
    <tr>
        <td nowrap="nowrap" width="437"></td>
        <td>
            <img id="img" src="getImage" />
            <a href='#' onclick="javascript:changeImg()" style="color:white;"><label style="color:black;">看不清？</label></a>
        </td>
    </tr>
</table>
<!-- 触发JS刷新-->
<script type="text/javascript">
    function changeImg(){
        var img = document.getElementById("img");
        img.src = "getImage?date=" + new Date();
    }
</script>
</body>
</html>
